<script src="bower_components/foundation/js/foundation/foundation.tabs.js"></script>
<%= form_for @meal do |f| %>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#guests">Choose Guests</a></dd>
    <dd><a href="#topic">Initiate the Conversation</a></dd>
    <dd><a href="#food">Design the Menu</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="guests">
      <%= render partial: 'guests_form', locals: {f: f} %>
    </div>
    <div class="content" id="topic">
      <%= render partial: 'topics_form', locals: {f: f} %>
    </div>
    <div class="content" id="food">
      <%= render partial: 'menu_form', locals: {f: f} %>
    </div>
    <%= f.submit "Save meal", class: "button alert small-6 columns", style: "border: 4px solid white" %>
    <%= f.submit "Stash changes", class: "button alert small-6 columns" , style: "border: 4px solid white" %>
  </div>
<% end %>