<%= form_for @meal, class: "meal-form" do |f| %>
  <dl class="tabs" data-tab>
    <%= tab_dd("Choose Guests", "#guests", true) %>
    <%= tab_dd("Initiate the Conversation", "#topic", false, "topic-tab") %>
    <%= tab_dd("Design the Menu", '#food') %>
    <%= tab_dd("Tell Your Friends!", '#message') %>
  </dl>
  <div class="tabs-content">
    <%= content_div("guests", "guests_form", "active", f) %>
    <%= content_div("topic", "topics_form", f) %>
    <%= content_div("food", "menu_form", f) %>
    <%= content_div("message", "message_form", f) %>
    <%= content_div("time", "time_form", f) %>
    <%= f.submit "Stash changes", class: "button alert small-6 columns meal-form-submit" , style: "border: 4px solid white" %>
    <input class="button alert small-6 columns meal-form-submit" style="border: 4px solid white" type="submit" value="Save meal" data-reveal-id="myModal" data-reveal>
  </div>
<% end %>