<dl class="meal-container meal-li round one-full-meal">
  <div class="row">
    <div class="small-12 columns">
      <% if @meal.finished %>
        <dt class="text-center">
          <h3>Meal Organized by <%= @meal.host.first.name %></h3>
        </dt>
        <dd>
          <dl>
            <dt><%= @meal.time_string %></dt><dd></dd>
            
            <div class="meal-topic-display meal-display-section">
              <dt>Topic</dt>
              <dd><%= @meal.topic ? @meal.topic.name : "undetermined" %></dd>
              <dt>Links</dt>
              <dd>
                <ul>
                <% @meal.links.each do |link| %>
                  <li><a href="<%= link.url %>"><%= link.name %></a></li>
                <% end %>
              </dd>
            </div>

            <div class="meal-guests-display meal-display-section">
              <ul class="no-bullet small-block-grid-1 large-block-grid-3">
                <% if @meal.num_guests_attending > 0 %>
                  <li>
                    <dt>Guests attending</dt>
                    <dd>
                      <ul class="no-bullet">
                        <% @meal.guests_attending.pluck(:name).each do |person_name| %>
                          <li><%= person_name %></li>
                        <% end %>
                      </ul>
                      <%= @meal.num_guests_attending %> total
                    </dd>
                  </li>
                <% end %>
                <% if @meal.num_guests_not_attending > 0 %>
                  <li>
                    <dt>Guests declining</dt>
                    <dd>
                      <ul class="no-bullet">
                        <% @meal.guests_not_attending.pluck(:name).each do |person_name| %>
                          <li><%= person_name %></li>
                        <% end %>
                      </ul>
                      <%= @meal.num_guests_not_attending %> total
                    </dd>
                  </li>
                <% end %>
                <% if @meal.num_guests_not_responded > 0 %>
                  <li>
                    <dt>No RSVP Yet</dt>
                    <dd>
                      <ul class="square">
                        <% @meal.guests_not_responded.pluck(:name).each do |person_name| %>
                          <li><%= person_name %></li>
                        <% end %>
                      </ul>
                      <%= @meal.num_guests_not_responded %> total
                    </dd>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="meal-recipes-display meal-display-section">
              <% if @meal.claimed_meal_recipes.size > 0 %>
                <dt>Claimed Recipes</dt>
                <dd>
                  <% @meal.claimed_meal_recipes.each do |m_r| %>
                    <a href="<%= m_r.recipe.url %>"><%= m_r.recipe.name %></a> -
                    claimed by <% m_r_person = Person.find(m_r.person_id) %>
                    <%= m_r_person.id == @person.id ? "you" : m_r_person.name %>
                    <br>
                  <% end %>
                </dd>
              <% end %>
              <% if @meal.unclaimed_meal_recipes.size > 0 %>
                <dt>Would you like to volunteer to bring something?</dt>
                <dd>
                  <%= form_tag "/meals/#{@meal.id}/guests/#{@person.id}", method: 'put', class: "recipe-form" do %>
                    <% @meal.unclaimed_meal_recipes.each do |m_r| %>
                      <input type="checkbox" name="meal_recipes[]" value="<%= m_r.id %>" <%= "checked" if @meal_person.person_id == @person %>>
                      <a href="<%= m_r.recipe.url %>"><%= m_r.recipe.name %></a><br>
                    <% end %>
                    <br>
                    <div class="small-text-center">
                      <%= submit_tag "Volunteer for these recipes", class: "button small" %>
                    </div>
                  <% end %>
                </dd>
              <% end %>
            </div>
          </dl>
        </dd>
      <% else %>
        <dt class="text-center">
          MEAL IN PROGRESS
        </dt>
        <% if @meal.hosted_by?(@person) %>
          <br><br>
          <div class="text-center">
            <%= link_to "Edit Details", edit_meal_path(@meal.id), class: "button large" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</dl>