  <div class="guests small-11 large-10 columns small-centered">
    <h3>Who are you inviting?</h3>
    <%= f.fields_for(@host) do |ff| %>
      <%= f.hidden_field :name, name: "person[][name]", value: @host.name %>
      <%= f.hidden_field :name, name: "person[][email]", value: @host.email %>
      <%= f.hidden_field :name, name: "person[][host_relationship]", value: "self"%>
    <% end %>
    <% @people.each_with_index do |person, index| %>
      <div class="row">
      <%= f.fields_for(person) do |ff| %>
        <%= person_field("Name:#{ff.text_field :name, name: "person[][name]"}") %>
        <%= person_field("Email:#{ff.text_field :email, name: "person[][email]"}") %>
        <% mp = person.meal_people.where(meal: @meal).first %>
        <%= person_field do %>
            Relationship:
            <%= select_tag(:host_relationship,
              options_for_select(['friend','relative','neighbor',
                'coworker', 'student','teacher','clergy', 'other'],
                [(mp.host_relationship if mp)]),
              name: "person[][host_relationship]",
              prompt: "Who is s/he to you?") %>
        <% end %>
        <br>
        <%= tag(:hr) unless index == @people.length - 1 %>
      <% end %>
      </div>
    <% end %>
    <a class="add-guest">(+) Add another guest</a><br>
    <div class="hidden new-guest-form row">
      <hr>
      <%= f.fields_for(Person.new) do |ff| %>
        <%= person_field("Name:#{ff.text_field :name, name: "person[][name]"}") %>
        <%= person_field("Email:#{ff.text_field :email, name: "person[][email]"}") %>
        <%= person_field do %>
          Relationship:
          <%= select_tag(:host_relationship,
            options_for_select(['friend','relative','neighbor',
              'coworker', 'student','teacher','clergy', 'other']),
            name: "person[][host_relationship]",
            prompt: "Who is s/he to you?") %>
        <% end %>
      <% end %>
    </div>
    <div class="tab-around-links small-8 medium-4 columns small-centered">
      <a href="#goto-topic" class="tab-around button">Continue -></a>
    </div>
  </div>