<% binding.pry %>
<li>
  <div class="text-center">
    <% if meal.time %>
      <h3>Meal Organized by <%= meal.host ? meal.host.name : "<organizer>" %></h3>
    </div>
      <%= meal.time_string %>, discussing <strong><%= meal.topic ? meal.topic.name : "an undetermined topic" %></strong>
      over <%= meal.cuisine_type ? meal.cuisine_type : "food" %> with <%= meal.active_guest_count %> participants
      <% if meal.num_guests_attending == 0 %>
        (no responses yet)
      <% else %>
        (<%= pluralize('attendee', meal.num_guests_attending) %> so far!)
      <% end %>
    <% else %>
      MEAL IN PROGRESS
    <% end %>
  <% if meal.hosted_by?(current_user) %>
    <br><br>
    <div class="text-center">
      <%= link_to (button_tag "Edit Details", class: "tiny"), edit_meal_path(meal.id) %>
    </div>
  <% end %>
</li>