<li>
  <dl class="meal-container meal-li round">
    <dt class="text-center">
    <% if meal.finished %>
      Meal Organized by <%= meal.host.first.name %>
    </dt>
    <dd>
      <ul>
        <li><%= meal.time_string %></li>
        <li>Topic: <strong><%= meal.topic ? meal.topic.name : "undetermined" %></strong></li>
        <li>Guests Invited: <%= meal.guest_count %></li>
        <li>Guests attending so far: <%= meal.num_guests_attending %>
      </ul>
    </dd>
    <% else %>
      MEAL IN PROGRESS
    </dt>
    <% end %>
    <% if meal.hosted_by?(current_user) && !meal.finished %>
      <br><br>
      <div class="text-center">
        <%= link_to (button_tag "Edit Details", class: "tiny"), edit_meal_path(meal.id) %>
      </div>
    <% end %>
  </dl>
</li>